<h1>New character</h1>

<% form_for(@character) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :off %><br />
    <%= f.text_field :off %>
  </p>
  <p>
    <%= f.label :def %><br />
    <%= f.text_field :def %>
  </p>
  <p>
    <%= f.label :agi %><br />
    <%= f.text_field :agi %>
  </p>
  <p>
    <%= f.label :life %><br />
    <%= f.text_field :life %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', characters_path %>
