<%= image_tag("/images/bmps/#{@character.bmp_id}.png", :width => 128, :height => 256) %>
<p>
  <b>Off:</b>
  <%=h @character.off %>
</p>

<p>
  <b>Def:</b>
  <%=h @character.def %>
</p>

<p>
  <b>Agi:</b>
  <%=h @character.agi %>
</p>

<p>
  <b>Life:</b>
  <%=h @character.life %>
</p>

