<%= image_tag("/images/bmps/#{@character.bmp_id}.png", :width => 128, :height => 256) %>
<p>
  <b><%= _'Character|Off' %>:</b>
  <%=h @character.off %>
</p>

<p>
  <b><%= _'Character|Def' %>:</b>
  <%=h @character.def %>
</p>

<p>
  <b><%= _'Character|Agi' %>:</b>
  <%=h @character.agi %>
</p>

<p>
  <b><%= _'Character|Life' %>:</b>
  <%=h @character.life %>
</p>

