<% form_for(@arc) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :extname %><br />
    <%= f.text_field :extname %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.label :origname %><br />
    <%= f.text_field :origname %>
  </p>
<div>
  <%= _'Arc|Relations' %><br />
<table>
  <thead>
    <th><%= _'Relationship|To' %></th>
    <th><%= _'Relationship|Kind' %></th>
    <th><%= _'Relationship|Note' %></th>
    <th></th>
  </thead>
  <tbody id="relationships">
  <%= render :partial => 'relationship', :collection => @arc.relationships %>
  <%= render :partial => 'rev_relationship', :collection => @arc.rev_relationships %>
  </tbody>
</table>
</div>
  <p>
    <%= add_relationship_link _('Add a relation') %>
  </p>
<div id="arc_tags">
  <%= _'Arc|Tags' %><br />
  <%= render :partial => 'arc_tag', :collection => @arc.arc_tags %>
</div>
  <p>
    <%= add_arc_tag_link _('Add a tag') %>
  </p>
  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to _('Show'), @arc %>
