<h1>New card</h1>

<% form_for(@card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :player %><br />
    <%= f.text_field :player %>
  </p>
  <p>
    <%= f.label :character %><br />
    <%= f.text_field :character %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cards_path %>
