<%-fields_for 'arc[rev_relationship_attributes][]', rev_relationship do |relationship_f|-%>
<p>
  <%= relationship_f.label :from %><br />
  <%= relationship_f.text_field :from_code, :index => nil, :id => '' %>
</p>
<p>
  <%= relationship_f.label :kind %><br />
  <%= relationship_f.select :kind, rev_relationship_kind_collection, {}, {:index => nil, :id => ''} %>
</p>
<p>
  <%= relationship_f.label :note %><br />
  <%= relationship_f.text_field :note, :index => nil, :id => '' %>
</p>
  <%-unless rev_relationship.new_record?-%>
    <%= relationship_f.hidden_field :id, :index => nil, :id => '' %>
  <%-end-%>
<%-end-%>
