<p>
  <b><%= _'Arc|Code' %>:</b>
  <%=h @arc.code %>
</p>

<p>
  <b><%= _'Arc|Extname' %>:</b>
  <%=h @arc.extname %>
</p>

<p>
  <b><%= _'Arc|Location' %>:</b>
  <%=h @arc.location %>
</p>

<p>
  <b><%= _'Arc|Summary' %>:</b>
  <%=h @arc.summary %>
</p>

<p>
  <b><%= _'Arc|Origname' %>:</b>
  <%=h @arc.origname %>
</p>

<%-if logged_in? -%>
<%= link_to _('Edit'), edit_arc_path(@arc) %>
<%-end-%>

<p>
  <b><%= _'Arc|Tahs' %>:</b>
</p>
<table class="list tahs">
  <thead>
  <tr>
    <th><%= _'Tah|Path' %></th>
    <th></th>
<%-if logged_in? -%>
    <th></th>
    <th></th>
<%-end-%>
  </tr>
  </thead>

  <tbody>
<% for tah in @arc.tahs %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h tah.path %></td>
    <td><%= link_to _('Show'), tah %></td>
<%-if logged_in? -%>
    <td><%= link_to _('Edit'), edit_tah_path(tah) %></td>
    <td><%= link_to _('Destroy'), tah, :confirm => _('Are you sure?'), :method => :delete %></td>
<%-end-%>
  </tr>
<% end %>
  </tbody>
</table>
