<h1>Editing schedule</h1>

<% form_for(@schedule) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :home_player_id %><br />
    <%= f.text_field :home_player_id %>
  </p>
  <p>
    <%= f.label :away_player_id %><br />
    <%= f.text_field :away_player_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @schedule %> |
<%= link_to 'Back', schedules_path %>
