<% form_for(:search, @search, :url => tags_path, :html => { :method => :get }) do |f| %>
  <p>
    <%= _'Tag|Name' %><br />
    <%= f.text_field :name %>
    <%= f.submit _("Search") %>
  </p>
<% end %>
<p>
  Total <%=h @tags.total_entries %>
</p>
<table class="list tags">
  <tbody>
<% for group in @tags.in_groups_of(3) %>
  <tr class="<%= cycle('odd', 'even') %>">
  <%-for tag in group-%>
    <td>
    <%-if tag-%>
      <%= link_to h(tag.name), tag %>
<%-if logged_in? -%>
      <%= link_to _('Edit'), edit_tag_path(tag) %>
      <%= link_to _('Destroy'), tag, :confirm => 'Are you sure?', :method => :delete %>
<%-end-%>
    <%-else-%>
      &nbsp;
    <%-end-%>
    </td>
  <%-end-%>
  </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate(@tags) %>
