<%-fields_for 'arc[relationship_attributes][]', relationship do |relationship_f|-%>
<p>
  <%= relationship_f.label :to %><br />
  <%= relationship_f.text_field :to_code, :index => nil, :id => '' %>
</p>
<p>
  <%= relationship_f.label :kind %><br />
  <%= relationship_f.select :kind, relationship_kind_collection, {}, {:index => nil, :id => ''} %>
</p>
<p>
  <%= relationship_f.label :note %><br />
  <%= relationship_f.text_field :note, :index => nil, :id => '' %>
</p>
  <%-unless relationship.new_record?-%>
    <%= relationship_f.hidden_field :id, :index => nil, :id => '' %>
  <%-end-%>
<%-end-%>
