<h2>
  <b><%= _'Arc|Code' %>:</b>
  <%=h @arc.code %>
</h2>

<p>
  <b><%= _'Arc|Extname' %>:</b>
  <%=h @arc.extname %>
</p>

<p>
  <b><%= _'Arc|Location' %>:</b>
  <%=h @arc.location %>
</p>

<p>
  <b><%= _'Arc|Summary' %>:</b>
  <%=h @arc.summary %>
</p>

<p>
  <b><%= _'Arc|Origname' %>:</b>
  <%=h @arc.origname %>
</p>

<p>
  <b><%= _'Arc|Rows' %>:</b>
  <%=h @arc.row_caption %>
</p>

<p>
  <b><%= _'Arc|Tags' %>:</b>
<%-for tag in @arc.tags-%>
  <%=link_to h(tag.name), tag %>
<%-end-%>
[ <%= link_to _('Edit'), tags_arc_path(@arc) %> ]
</p>

<%-if logged_in? -%>
<%= link_to _('Edit'), edit_arc_path(@arc) %>
<%-end-%>

<p>
  <b><%= _'Arc|Relations' %>:</b>
</p>
<table class="list arcs">
  <thead>
  <tr>
    <th><%= _'Arc|Code' %></th>
    <th><%= _'Arc|Extname' %></th>
    <th><%= _'Arc|Location' %></th>
    <th><%= _'Arc|Summary' %></th>
    <th><%= _'Relationship|Kind' %></th>
    <th><%= _'Relationship|Note' %></th>
  </tr>
  </thead>

  <tbody>
<% for rel in @arc.relationships %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=link_to h(rel.to.code), rel.to %></td>
    <td><%=h rel.to.extname %></td>
    <td><%=h rel.to.location %></td>
    <td><%=h rel.to.summary %></td>
    <td><%=h rel.kind_caption %></td>
    <td><%=h rel.note %></td>
  </tr>
<% end %>
<% for rel in @arc.rev_relationships %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=link_to h(rel.from.code), rel.from %></td>
    <td><%=h rel.from.extname %></td>
    <td><%=h rel.from.location %></td>
    <td><%=h rel.from.summary %></td>
    <td><%=h rel.rev_kind_caption %></td>
    <td><%=h rel.note %></td>
  </tr>
<% end %>
  </tbody>
</table>

<p>
  <b><%= _'Arc|Tahs' %>:</b>
</p>
<table class="list tahs">
  <thead>
  <tr>
    <th><%= _'Tah|Path' %></th>
    <th></th>
<%-if logged_in? -%>
    <th></th>
    <th></th>
<%-end-%>
  </tr>
  </thead>

  <tbody>
<% for tah in @arc.tahs %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h tah.path %></td>
    <td><%= link_to _('Show'), tah %></td>
<%-if logged_in? -%>
    <td><%= link_to _('Edit'), edit_tah_path(tah) %></td>
    <td><%= link_to _('Destroy'), tah, :confirm => _('Are you sure?'), :method => :delete %></td>
<%-end-%>
  </tr>
<% end %>
  </tbody>
</table>

<%-unless @arc.collisions.empty?-%>
<p>
  <b><%= _'Arc|Collisions' %>:</b>
</p>
<table class="list arcs">
  <thead>
  <tr>
    <th><%= _'Arc|Code' %></th>
    <th><%= _'Arc|Extname' %></th>
    <th><%= _'Arc|Location' %></th>
    <th><%= _'Arc|Summary' %></th>
    <th><%= _'Arc|Origname' %></th>
  </tr>
  </thead>

  <tbody>
<% for arc in @arc.collisions %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=link_to h(arc.code), arc %></td>
    <td><%=h arc.extname %></td>
    <td><%=h arc.location %></td>
    <td><%=h arc.summary %></td>
    <td><%=h arc.origname %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%-end-%>

<%-unless @arc.duplicates.empty?-%>
<p>
  <b><%= _'Arc|Duplicates' %>:</b>
</p>
<table class="list arcs">
  <thead>
  <tr>
    <th><%= _'Arc|Code' %></th>
    <th><%= _'Arc|Extname' %></th>
    <th><%= _'Arc|Location' %></th>
    <th><%= _'Arc|Summary' %></th>
    <th><%= _'Arc|Origname' %></th>
  </tr>
  </thead>

  <tbody>
<% for arc in @arc.duplicates %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=link_to h(arc.code), arc %></td>
    <td><%=h arc.extname %></td>
    <td><%=h arc.location %></td>
    <td><%=h arc.summary %></td>
    <td><%=h arc.origname %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%-end-%>

<%-unless @arc.col_bases.empty?-%>
<p>
  <b><%= _'Arc|Col bases' %>:</b>
</p>
<table class="list arcs">
  <thead>
  <tr>
    <th><%= _'Arc|Code' %></th>
    <th><%= _'Arc|Extname' %></th>
    <th><%= _'Arc|Location' %></th>
    <th><%= _'Arc|Summary' %></th>
    <th><%= _'Arc|Origname' %></th>
  </tr>
  </thead>

  <tbody>
<% for arc in @arc.col_bases %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=link_to h(arc.code), arc %></td>
    <td><%=h arc.extname %></td>
    <td><%=h arc.location %></td>
    <td><%=h arc.summary %></td>
    <td><%=h arc.origname %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%-end-%>
