<h1>Editing tso</h1>

<% form_for(@tso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tso %> |
<%= link_to 'Back', tsos_path %>
