<p>
  <b><%= _'Tah|Path' %>:</b>
  <%=h @tah.path %>
</p>

<p>
  <b><%= _'Tah|Tsos' %>:</b>
  <ul>
  <%-for tso in @tah.tsos-%>
    <li><%=h tso.path %></li>
  <%-end-%>
  </ul>
</p>

<%-if logged_in? -%>
<%= link_to _('Edit'), edit_tah_path(@tah) %> |
<%-end-%>
