<h1>Listing characters</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Off</th>
    <th>Def</th>
    <th>Agi</th>
    <th>Life</th>
  </tr>

<% for character in @characters %>
  <tr>
    <td>
      <%= image_tag("/images/bmps/64x64/#{character.bmp_id}.png", :width => 64, :height => 64) %>
    </td>
    <td><%=h character.off %></td>
    <td><%=h character.def %></td>
    <td><%=h character.agi %></td>
    <td><%=h character.life %></td>
    <td><%= link_to 'Show', character %></td>
  </tr>
<% end %>
</table>
