<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=Shift_JIS" />
  <title><%= controller.controller_name%>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <div id="top-menu">
    <div id="account">
      <%= link_to "Home", root_path %>
    <%-if logged_in? -%>
      <%= link_to "Logout", session_path, :method => :delete %>
    <%-else-%>
      <%= link_to "Login", new_session_path %>
    <%-end-%>
    </div>
  </div>
  <div id="header">
    <h1>3DCG Battler</h1>
    <div id="main-menu">
      <ul>
    <%-if logged_in? -%>
        <li><%= link_menu_to "Card", player_cards_path(current_user.player) %></li>
        <li><%= link_menu_to "Schedule", schedules_path %></li>
        <li><%= link_menu_to "Shop", goods_path %></li>
    <%-end-%>
      </ul>
    </div>
  </div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
