<% form_for(:search, @search, :url => tags_path, :html => { :method => :get }) do |f| %>
  <p>
    <%= _'Tag|Name' %><br />
    <%= f.text_field :name %>
    <%= f.submit _("Search") %>
  </p>
<% end %>
<p>
  Total <%=h @tags.total_entries %>
</p>
<table class="list tags">
  <thead>
  <tr>
    <th><%= _'Tag|Name' %></th>
    <th></th>
<%-if logged_in? -%>
    <th></th>
    <th></th>
<%-end-%>
  </tr>
  </thead>

  <tbody>
<% for tag in @tags %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h tag.name %></td>
    <td><%= link_to _('Show'), tag %></td>
<%-if logged_in? -%>
    <td><%= link_to _('Edit'), edit_tag_path(tag) %></td>
    <td><%= link_to _('Destroy'), tag, :confirm => 'Are you sure?', :method => :delete %></td>
<%-end-%>
  </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate(@tags) %>
