<table class="list equips">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
<%-if logged_in? -%>
    <th></th>
    <th></th>
<%-end-%>
  </tr>
  </thead>

  <tbody>
<% for equip in @equips %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h equip.name %></td>
    <td><%= link_to _('Show'), equip %></td>
<%-if logged_in? -%>
    <td><%= link_to _('Edit'), edit_equip_path(equip) %></td>
    <td><%= link_to _('Destroy'), equip, :confirm => 'Are you sure?', :method => :delete %></td>
<%-end-%>
  </tr>
<% end %>
  </tbody>
</table>
