<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=Shift_JIS" />
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
<div id="wrapper">
  <div id="top-menu">
    <div id="account">
      <%= link_to "Home", root_path %>
    <%-if logged_in? -%>
      <%= link_to "Logout", session_path, :method => :delete %>
    <%-else-%>
      <%= link_to "Login", new_session_path %>
    <%-end-%>
    </div>
  </div>
  <div id="header">
    <h1>3DCG mods reference</h1>
    <div id="main-menu">
      <ul>
        <li><%= link_menu_to _("arc"), arcs_path %></li>
        <li><%= link_menu_to _("tah"), tahs_path %></li>
        <li><%= link_menu_to _("tso"), tsos_path %></li>
        <li><%= link_menu_to _("equip"), equips_path %></li>
    <%-if logged_in? -%>
        <li><%= link_menu_to _("tahdump"), tahdump_path %></li>
    <%-end-%>
      </ul>
    </div>
  </div>
  <div id="main" class="nosidebar">
    <div id="content">
<%= content_tag('div', flash[:error], :class => 'flash error') if flash[:error] %>
<%= content_tag('div', flash[:notice], :class => 'flash notice') if flash[:notice] %>
<%= yield %>
    </div>
  </div>
  <div id="footer">
    <p>copyright &copy; 2009  3DCG Craftsmen's Guild</p>
  </div>
</div>
</body>
</html>
