<h2>セーブファイルをアップロードする</h2>
<p>テックアーツ3Dカスタム少女のセーブファイルをアップロードできます。</p>
<p>あなたの作ったキャラクタがゲームに登場します。</p>
<%= form_tag( { :action => 'upload' }, :multipart => true ) %>
<%= file_field_tag :file, :size => 40 %>
  <%= submit_tag _("Upload") %>
</form>

<p>現在登録されているキャラクタはこちら。</p>
<%= link_to "キャラクタを見る", characters_path %>

<h2>ゲームに参加する</h2>
<p>ゲームに参加される方は、ログインしてください。</p>
<%= link_to "ログインする", new_session_path %>
<p>初めてゲームに参加される方は、ユーザ登録が必要です。</p>
<%= link_to "ユーザ登録を行う", new_user_path %>
