<% form_for(:search, @search, :url => tsos_path, :html => { :method => :get }) do |f| %>
  <p>
    <%= _'Tso|Path' %><br />
    <%= f.text_field :path %>
    <%= f.submit _("Search") %>
  </p>
<% end %>
<p>
  Total <%=h @tsos.total_entries %>
</p>
<table class="list tsos">
  <thead>
  <tr>
    <th><%= _'Tso|Path' %></th>
    <th><%= _'Tso|Tah hash' %></th>
    <th></th>
<%-if logged_in? -%>
    <th></th>
    <th></th>
<%-end-%>
  </tr>
  </thead>

  <tbody>
<% for tso in @tsos %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h tso.path %></td>
    <td><%=h tso.tah_hash %></td>
    <td><%= link_to _('Show'), tso %></td>
<%-if logged_in? -%>
    <td><%= link_to _('Edit'), edit_tso_path(tso) %></td>
    <td><%= link_to _('Destroy'), tso, :confirm => _('Are you sure?'), :method => :delete %></td>
<%-end-%>
  </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate(@tsos) %>
