<h1>Listing tsos</h1>

<table>
  <tr>
    <th><%= _'Tso|Path' %></th>
  </tr>

<% for tso in @tsos %>
  <tr>
    <td><%=h tso.path %></td>
    <td><%= link_to _('Show'), tso %></td>
<%-if logged_in? -%>
    <td><%= link_to _('Edit'), edit_tso_path(tso) %></td>
    <td><%= link_to _('Destroy'), tso, :confirm => _('Are you sure?'), :method => :delete %></td>
<%-end-%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tso', new_tso_path %>
<%= will_paginate(@tsos) %>
