<h2>
  <b><%= _'Tso|Path' %>:</b>
  <%=h @tso.path %>
</h2>

<p>
  <b><%= _'Tso|Tah hash' %>:</b>
  <%=h @tso.tah_hash %>
</p>

<p>
  <b>ŠÜ‚Ü‚ê‚é<%= _'Tso|Tah' %>:</b>
  <%= link_to h(@tso.tah.path), tah_path(@tso.tah) %>
</p>

<%-if logged_in? -%>
<%= link_to _('Edit'), edit_tso_path(@tso) %>
<%-end-%>
