<% form_for(@equip) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to _('Show'), @equip %>
