<h2>
  <b><%= _'Tso|Path' %>:</b>
  <%=h @tso.path %>
</h2>

<p>
  <b><%= _'Tso|Tah hash' %>:</b>
  <%=h @tso.tah_hash %>
</p>

<p>
  <b>ŠÜ‚Ü‚ê‚é<%= _'Tso|Tah' %>:</b>
  <%= link_to h(@tso.tah.path), tah_path(@tso.tah) %>
</p>

<%-if logged_in? -%>
<%= link_to _('Edit'), edit_tso_path(@tso) %>
<%-end-%>

<p>
  <b><%= _'Tso|Collisions' %>:</b>
</p>
<table class="list tsos">
  <thead>
  <tr>
    <th><%= _'Tso|Path' %></th>
    <th><%= _'Tso|Tah hash' %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% for tso in @tso.collisions %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h tso.path %></td>
    <td><%=h tso.tah_hash %></td>
    <td><%= link_to _('Show'), tso %></td>
  </tr>
<% end %>
  </tbody>
</table>

<p>
  <b><%= _'Tso|Duplicates' %>:</b>
</p>
<table class="list tsos">
  <thead>
  <tr>
    <th><%= _'Tso|Path' %></th>
    <th><%= _'Tso|Tah hash' %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% for tso in @tso.duplicates %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h tso.path %></td>
    <td><%=h tso.tah_hash %></td>
    <td><%= link_to _('Show'), tso %></td>
  </tr>
<% end %>
  </tbody>
</table>
