<% form_for(@arc) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :extname %><br />
    <%= f.text_field :extname %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.label :origname %><br />
    <%= f.text_field :origname %>
  </p>
<div id="arc_equips">
  <%= _'Arc|Equips' %><br />
  <%= render :partial => 'arc_equip', :collection => @arc.arc_equips %>
</div>
  <p>
    <%= add_arc_equip_link _('Add a equip') %>
  </p>
  <p>
    <%= f.submit _("Update") %>
  </p>
<% end %>

<%= link_to _('Show'), @arc %>
