<h1>Listing arcs</h1>

<% form_for(:search, @search, :url => arcs_path, :html => { :method => :get }) do |f| %>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.submit "Search" %>
  </p>
<% end %>
<p>
  Total <%=h @arcs.total_entries %>
</p>
<table>
  <tr>
    <th><%= _'Arc|Code' %></th>
    <th><%= _'Arc|Extname' %></th>
    <th><%= _'Arc|Location' %></th>
    <th><%= _'Arc|Summary' %></th>
    <th><%= _'Arc|Origname' %></th>
  </tr>

<% for arc in @arcs %>
  <tr>
    <td><%=h arc.code %></td>
    <td><%=h arc.extname %></td>
    <td><%=h arc.location %></td>
    <td><%=h arc.summary %></td>
    <td><%=h arc.origname %></td>
    <td><%= link_to _('Show'), arc %></td>
<%-if logged_in? -%>
    <td><%= link_to _('Edit'), edit_arc_path(arc) %></td>
    <td><%= link_to _('Destroy'), arc, :confirm => _('Are you sure?'), :method => :delete %></td>
<%-end-%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New arc', new_arc_path %>
<%= will_paginate(@arcs) %>
