<p>
  <b><%= _'Arc|Code' %>:</b>
  <%=h @arc.code %>
</p>

<p>
  <b><%= _'Arc|Extname' %>:</b>
  <%=h @arc.extname %>
</p>

<p>
  <b><%= _'Arc|Location' %>:</b>
  <%=h @arc.location %>
</p>

<p>
  <b><%= _'Arc|Summary' %>:</b>
  <%=h @arc.summary %>
</p>

<p>
  <b><%= _'Arc|Origname' %>:</b>
  <%=h @arc.origname %>
</p>

<p>
  <b><%= _'Arc|Tahs' %>:</b>
  <ul>
  <%-for tah in @arc.tahs-%>
    <li><%=h tah.path %></li>
  <%-end-%>
  </ul>
</p>

<%-if logged_in? -%>
<%= link_to _('Edit'), edit_arc_path(@arc) %> |
<%-end-%>
