<p>
  <b>Code:</b>
  <%=h @arc.code %>
</p>

<p>
  <b>Extname:</b>
  <%=h @arc.extname %>
</p>

<p>
  <b>Location:</b>
  <%=h @arc.location %>
</p>

<p>
  <b>Summary:</b>
  <%=h @arc.summary %>
</p>

<p>
  <b>Origname:</b>
  <%=h @arc.origname %>
</p>


<%= link_to 'Edit', edit_arc_path(@arc) %> |
<%= link_to 'Back', arcs_path %>
