<h1>Editing good</h1>

<% form_for(@good) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :character %><br />
    <%= f.text_field :character %>
  </p>
  <p>
    <%= f.label :stock %><br />
    <%= f.text_field :stock %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @good %> |
<%= link_to 'Back', goods_path %>
