<h1>Listing goods</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Off</th>
    <th>Def</th>
    <th>Agi</th>
    <th>Life</th>
    <th>Stock</th>
    <th>Price</th>
  </tr>

<% for good in @goods %>
  <tr>
    <td>
      <%= image_tag("/images/bmps/64x64/#{good.character.bmp_id}.png", :width => 64, :height => 64) %>
    </td>
    <td><%=h good.character.off %></td>
    <td><%=h good.character.def %></td>
    <td><%=h good.character.agi %></td>
    <td><%=h good.character.life %></td>
    <td><%=h good.stock %></td>
    <td><%=h good.price %></td>
    <td><%= link_to 'Show', good %></td>
  </tr>
<% end %>
</table>
