<p>
  <b>Character:</b>
  <%=h @good.character %>
</p>

<p>
  <b>Stock:</b>
  <%=h @good.stock %>
</p>

<p>
  <b>Price:</b>
  <%=h @good.price %>
</p>


<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>
