<h1>Listing cards</h1>

<table>
  <tr>
    <th>Image</th>
    <th><%= _'Character|Off' %></th>
    <th><%= _'Character|Def' %></th>
    <th><%= _'Character|Agi' %></th>
    <th><%= _'Character|Life' %></th>
  </tr>

<% for card in @cards %>
  <tr>
    <td>
      <%= image_tag("/images/bmps/64x64/#{card.character.bmp_id}.png", :width => 64, :height => 64) %>
    </td>
    <td><%=h card.character.off %></td>
    <td><%=h card.character.def %></td>
    <td><%=h card.character.agi %></td>
    <td><%=h card.character.life %></td>
    <td><%= link_to _('Show'), [ @player, card ] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Sort", sort_player_cards_path(@player) %>
