<h1>Listing cards</h1>

<table>
  <tr>
    <th>Character</th>
  </tr>

<% for card in @cards %>
  <tr>
    <td><%=h card.character_id %></td>
    <td><%= link_to 'Show', [ @player, card ] %></td>
    <td><%= link_to 'Edit', edit_player_card_path(@player, card) %></td>
    <td><%= link_to 'Destroy', [ @player, card ], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New card', new_player_card_path(@player) %>
