<h1>New card</h1>

<% form_for([ @player, @card ]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :player %><br />
    <%=h @player.nick %>
  </p>
  <p>
    <%= f.label :character %><br />
    <%= f.text_field :character_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', player_cards_path(@player) %>
