<p>
  <b>Player:</b>
  <%=h @player.nick %>
</p>

<p>
  <b>Character:</b>
  <%=h @card.character_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @card.position %>
</p>


<%= link_to 'Edit', edit_player_card_path(@player, @card) %> |
<%= link_to 'Back', player_cards_path(@player) %>
